/*
Odomah theme
Version 1.0.0
Author: http://jayjam.net
*/

/* size:
	body = 
	wrap = 1152
	height header_top = 91px
	height header_bot = 81px
	width header_bot = 987px
	height side_bar = 162px
	width side_bar = 576px
	yield height = 298px
	height header_pic = 504px
	height footer_top = 333px
	height footer_bot = 42px

*/

/* colors:
	header_top = #efefef
	header_bot = #ffffff
	footer_bot = #2525256+5
*/
@import url("reset.css");

/* General styles:*/

html{
	height: 100%
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4f5259;
	min-height: 100%;
	padding-top: 0px;
}

p{
	font-size: 14px;
	color:#4f5259;
}

a{
	text-decoration: none;
	outline: none;
	color: #868686;
	font-size:14px;
}

a:hover{
	text-decoration: underline;
	outline: none;
	font-size:14px;	
}

code{
	font-family: "Courier New", Courier, monospace;
	color: #000;
}

blockquote{
	font-family: italic;
	background: #ccc;
	margin-left: 20px;
}

#wrap{
	width: 1152px;
	margin: 0 auto;
	position: relative;
}

/*Header*/

#header{
	background: #ededed; 
}

#header_top{
	height: 91px;
}

#header_top ul{
	float: right;
}

#header_top ul li{
	float: left;
	margin: 25px;
}

/*Header_bot Navigation:*/

#header_bot{
	position: relative;
	background: #ededed;
	width: 987px;
	left: 85px;
	border-style: solid;
	border-width: medium;
	z-index: 10;
	bottom: 40px;
}

#header_bot ul{
	float: right;
}

#header_bot ul li{
	float: left;
	margin: 30px;
}

#header_bot ul li a:hover {
	height: 41px;
	display:block;
	text-decoration: none;
	background: url(img/orange_b.png) no-repeat top;

}

/*Pre Content:*/

#peop_talk{
	position: relative;
	display: inline-block;
	top: 50px;
	left: 766px;
	height: 100px;
	width: 380px;

	background: #ededed;
	border-style: solid;
	border-width: medium;
	z-index: 10;
}

#peop_talk a{
	background-image: url(img/new_post.png);
}

#main_bg{
	position: absolute;
	z-index: 1;
	top: 100px;
}

/*

#peop_talk{
	height: 162px;
	width: 576px;
	position: absolute;
	top: 30px;
	right: 30px;
}

*/

/*#header ul{
	float:right;
	margin: 23px 120px 0 34px;
}

#header_bot

#header ul li{
	float: left;
	padding-left: 10px;
}*/

/*#plashechka ul li a{
	height:41px;
	display:block;
}

#plashechka ul li a:hover{
	height: 41px;
	display: block;
	text-decoration: none;
	background: url(img/houses.png);
}*/

/* Content:*/

#content{
	position: relative;
	border-style: solid;
	border-width: medium;
	top: 323px;
	height: 298px;
}

#last_comment{
	float: left;
	margin: 5px;
	margin-left: 10px;
}


#last_post{
	float: right;

	margin: 5px;
	margin-right: 10px;
}


/*Footer:*/
#footer{
	position: relative;
	background: orange;
	top: 323px;
}

#footer_top{
	height: 333px;
	background: url(img/about.png);
	
}

#footer_bot{
	background: #373737;
	height: 24px;
}

#footer_bot p{
	float: right;
	margin: 5px;
}